.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-black);
    // Test
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; // No grow and shrink, 18% of width as base

    display: flex;
    flex-direction: column;
    justify-content: space-between; // Container is set as space-between, make a giant gap between side-nav and legal
}

.hotel-view {
    background-color: #fff;

    // TEST HEIGHT
    height: 100rem;

    flex: 1; // Grow enabled
}